span.titre{
	color: purple;
	font-size: 40px;
	opacity: 1;
	

	
}
body{
	background: url("https://p4.wallpaperbetter.com/wallpaper/891/789/168/orange-yellow-texture-gradient-wallpaper-preview.jpg") no-repeat;
	background-size: 100%;

}
audio{
	bottom: 20px;
}

input.input_id{
	background-color: darkblue;
	margin-top: 40px;
	text-align: center;
}
input.input_psswrd{
	position: absolute;
	background-color: darkblue;
	top: 150px;
	left: 564px;
	text-align: center;
}



button.valid_id{
	position: absolute;
	background-color: darkorange;
	top: 230px;
	left: 620px;
	text-align: center;



}